#include <Windows.h>
#include "Version.hpp"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION IMCUT_VERSION_MAJOR,IMCUT_VERSION_MINOR,IMCUT_VERSION_PATCH,0
 PRODUCTVERSION IMCUT_VERSION_MAJOR,IMCUT_VERSION_MINOR,IMCUT_VERSION_PATCH,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904b0"
  BEGIN
   VALUE "FileDescription", "ImCut CorelDRAW API\0"
   VALUE "FileVersion", IMCUT_VERSION_STRING "\0"
   VALUE "InternalName", "ImCut.API\0"
   VALUE "OriginalFilename", "ImCut.API.dll\0"
   VALUE "ProductName", "ImCut\0"
   VALUE "ProductVersion", IMCUT_VERSION_STRING "\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END
